<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contactos</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<header class="portada">
    <img src="../img/inicio_argos.png" class="banner">
    <h1 class="titulo-portada">Contacto</h1>
</header>

<nav class="menu">
    <ul>
        <li><a href="../index.html"><img src="../img/inicio.png"></a></li>
        <li><a href="servicios.html"><img src="../img/servicios.png"></a></li>
        <li><a href="contactos.html"><img src="../img/contactos.png"></a></li>
    </ul>
</nav>

<section class="formulario">
    <h2>Formulario de Contacto</h2>

    <form>
        <input type="number" placeholder="Cédula">
        <input type="text" placeholder="Nombres">
        <input type="text" placeholder="Apellidos">
        <input type="email" placeholder="Email">
        <input type="text" placeholder="Usuario">
        <input type="password" placeholder="Contraseña">
        <button type="submit">Enviar</button>
    </form>
</section>

<footer class="menu">
    <ul>
        <li><a href="https://www.facebook.com/GrupoArgos"><img src="../img/boton_facebook.png"></a></li>
        <li><a href="https://www.instagram.com/GrupoArgos"><img src="../img/boton_instagram.png"></a></li>
        <li><a href="https://twitter.com/GrupoArgos"><img src="../img/twitter.png"></a></li>
    </ul>
</footer>

</body>
</html>