<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Servicios</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<header class="portada">
    <img src="../img/inicio_argos.png" class="banner">
    <h1 class="titulo-portada">Servicios</h1>
</header>

<nav class="menu">
    <ul>
        <li><a href="../index.html"><img src="../img/inicio.png"></a></li>
        <li><a href="servicios.html"><img src="../img/servicios.png"></a></li>
        <li><a href="contactos.html"><img src="../img/contactos.png"></a></li>
    </ul>
</nav>

<section class="contenido">
    <h2>Nuestros Servicios</h2>

    <div class="servicio">
        <img src="../img/argos_servicios.jpg">
    </div>

    <div class="servicio">
        <img src="../img/argos_servicios1.jpg">
    </div>

</section>

<footer class="menu">
    <ul>
        <li><a href="https://www.facebook.com/GrupoArgos"><img src="../img/boton_facebook.png"></a></li>
        <li><a href="https://www.instagram.com/GrupoArgos"><img src="../img/boton_instagram.png"></a></li>
        <li><a href="https://twitter.com/GrupoArgos"><img src="../img/twitter.png"></a></li>
    </ul>
</footer>

</body>
</html>